body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    padding: 30px 30px;
    text-align: center;
}
.wrap{
    width: 10%;
    height: 50%;
    min-width: 500px;
    min-height: 500px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 10px 0 50px rgba(0, 0, 0, 0.2);
}
